Здесь описано вообще все, что должно быть, а то, что уже скорее всего есть я помечу (+)

1) Юзер с полями 
- айди (+)
- юзернейм (+)
- емейл (+)
- полное имя (в идеале одним полем)
- список ролей (+)
- список уведомлений
- хешированные пароли (+)

2) Машина с полями
- айди
- название
- интегрити (интежер)
- список заметок
- список истории посещений (тоже список стрингов)
- макс размер топливного бака (флоат)
- сколько литров сейчас в топливном баке (флоат)
- макс грузоподъемность (флоат)
- текущая загруженность (флоат)
- список айди водителей катавшихся на машине (последний в списке - текущий)
- список айди механиков ремонтировавших машину

3) Запросы
- получение токенов по логину и паролю (+)
- получение всех полей (кроме пароля) юзера по его логину
- получение всех данных о машине по ее айди
- получение всех данных о машине по ее названию
- возможность запросом перезаписывать данные юзера
- возможность запросом перезаписывать данные машины


